.box {
	.orderContainer {
		margin: 1rem 0;
		margin-bottom: 2.5rem;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		align-items: center;

		p {
			font-size: 1.4rem;
			background-color: transparent;
			border: 1px double black;

			.sort {
				padding: 1rem;
				text-transform: capitalize;
			}

			.orderBy {
				font-weight: 600;
				display: inline-block;
				padding: 1rem;
				color: #fff;
				background-color: #613d66;
				text-transform: uppercase;
			}
		}

		button {
			background-color: transparent;
			cursor: pointer;
			display: inline-block;
			border: 1px dotted black;
			text-transform: capitalize;
			color: #444;
			letter-spacing: 0.4px;
			padding: 1rem;
			transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

			&:active,
			&:focus {
				border: 2px solid black;
			}
		}
	}

	.cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 4rem;
		width: 100%;

		@media screen and (max-width: 1024px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media screen and (max-width: 640px) {
			grid-template-columns: 1fr;
		}
	}
}
